<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPS Tribute</title>
</head>

<body>
    <h1>FPS Tribute</h1>
    <p>First-person shooter (FPS) is a video game genre centered on gun and other weapon-based combat in a first-person perspective; 
        that is, the player experiences the action through the eyes of the protagonist. The genre shares common traits with other shooter games, 
        which in turn makes it fall under the heading action game. Since the genre's inception, advanced 3D and pseudo-3D graphics 
        have challenged hardware development, and multiplayer gaming has been integral.</p>
    <p>First-person shooters may feature a multiplayer mode, taking place on specialized levels. Some games are designed specifically for 
        multiplayer gaming, and have very limited single player modes in which the player competes against game-controlled characters termed "bots".
        Massively multiplayer online first-person shooters allow thousands of players to compete at once in a persistent world. Large scale multiplayer 
        games allow multiple squads, with leaders issuing commands and a commander controlling the team's overall strategy. Multiplayer games have a 
        variety of different styles of match.</p>
    <p>The classic types are the deathmatch (and its team-based variant) in which players score points by killing other players' characters; and capture the flag, 
        in which teams attempt to penetrate the opposing base, capture a flag and return it to their own base whilst preventing the other team from doing the same. 
        Other game modes may involve attempting to capture enemy bases or areas of the map, attempting to take hold of an object for as long as possible while
        evading other players, or deathmatch variations involving limited lives or in which players fight over a particularly potent power-up. These match types may also be 
        customizable, allowing the players to vary weapons, health and power-ups found on the map, as well as victory criteria. Games may allow players to choose 
        between various classes, each with its own strengths, weaknesses, equipment and roles within a team. </p>
    <a href="https://en.wikipedia.org/wiki/First-person_shooter">go to FPS wiki</a>

    <h2>Counter-Strike: Global Offensive</h2>
    <p>Counter-Strike: Global Offensive is the sequel to the popular first-person shooter Counter-Strike: Source, developed by Valve. 
        Global Offensive's development began when Hidden Path Entertainment attempted to port Counter-Strike: Source onto video game 
        consoles prior to the end of its lifespan.[24][25] During its development, Valve saw the opportunity to turn the port into a 
        full game and expand on the predecessor's gameplay. Global Offensive began development in March 2010, and was revealed to the 
        public on August 12, 2011.[26] The closed beta started on November 30, 2011, and was initially restricted to around ten thousand 
        people who received a key at events intended to showcase Global Offensive. After issues with client and server stability were addressed, 
        the beta was opened up to progressively more people,[27] and at E3 2012, Valve announced that Global Offensive would be released on August 21, 2012, 
        with the open beta starting roughly a month before that.[27] Before the public beta, Valve invited professional Counter-Strike players to 
        play-test the game and give feedback.</p>
    <a 
        href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/">go to game in Steam</a>

    <h2>Tom Clancy's Rainbow Six: Siege</h2>
    <p>Tom Clancy's Rainbow Six Siege is the thirteenth installment in the Tom Clancy's Rainbow Six Franchise developed by Ubisoft Montreal
        and published by Ubisoft Entertainment. it is the latest game to be released since Tom Clancy's Rainbow Six: Vegas 2 and is 
        considered a successor to the now-cancelled Tom Clancy's Rainbow Six: Patriots. Inspired by counter-terrorist activities across the world, 
        Siege puts heavy emphasis on environmental destruction and cooperation between players. Unlike previous installments, the game features
        no singleplayer campaign and offers an online mode, though it does allow players to play offline in single-player tutorials called Situations.</p>
    <a
        href="https://store.steampowered.com/app/359550/Tom_Clancys_Rainbow_Six_Siege/">go
        to game in Steam</a>

    <h2>Call of Duty: Black Ops Cold War</h2>
    <p>Call of Duty: Black Ops Cold War is a 2020 first-person shooter video game developed by Treyarch and Raven Software and published by Activision. 
        It was released worldwide on November 13, 2020, for Microsoft Windows, PlayStation 4, PlayStation 5, Xbox One, and Xbox Series X and S. It serves 
        as the sixth installment in the Black Ops series, and the seventeenth installment in the overall Call of Duty series. It is Treyarch's seventh Call of Duty 
        title made as a lead developer and Raven's second.</p>
    <a 
        href="https://us.shop.battle.net/es-es/product/call-of-duty-black-ops-cold-war">go to game in Blizzard Store</a>
</body>

</html>